<br>

<div id='gameboard' ng-show='selectedBoard.playersboard'>
  <span ng-model='currentBoard' onkeypress="return isNumberKey(event)" class='field' ng-repeat='item in selectedBoard.playersboard track by $index'>
      <input ng-keyup='keyup()' class='numbers'  type="text" ng-disabled="item.compNum" ng-model='item.num'>
</span>
</div>

<div id='mathfacts' ng-show='!selectedBoard.playersboard'>
{{mathFacts}}
</div>

<!-- <br>
<form class="inline-form" ng-submit="saveGame(currentPlayersboard)">
  <md-button class="md-raised home-btns" type='submit'>SAVE</md-button>
</form> -->