body{
        font-family: 'Telex', sans-serif;
        background-color: #26A69A;
        color: white;
        text-align: center;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
}
body * {
  outline: none;
}
#cloud {
  height: 400px;
  width: 400px;
  margin: 0 auto;
}

.topright{
        text-align: right;
}


/*Modal CSS*/
.modal{
        width: 550px;
}
#modalContent{
        width: 500px;
        color: #0A1930;
}
#modalContent label{
        text-align: left;
        color: #0A1930
}
#modalContent input{
        text-align: left;
        color: #0A1930
}

/*Gameboard CSS*/
.numbers{
  font-weight: 900;
  font-size: 200%;
  text-align: center;
  height: 40px;
  width: 40px;
  border-style: solid;
  border-color: white;
}
#gameboard{
  width: 575px;
  margin: 0 auto;
}
#gameboard input{
  margin: 5px;
}
#gameboard span:nth-child(3n+3) > input{
  margin-right: 15px;
}
#gameboard span:nth-child(19) > input{
  margin-bottom: 15px;
}
#gameboard span:nth-child(20) > input{
  margin-bottom: 15px;
}
#gameboard span:nth-child(21) > input{
  margin-bottom: 15px;
}
#gameboard span:nth-child(22) > input{
  margin-bottom: 15px;
}
#gameboard span:nth-child(23) > input{
  margin-bottom: 15px;
}
#gameboard span:nth-child(24) > input{
  margin-bottom: 15px;
}
#gameboard span:nth-child(25) > input{
  margin-bottom: 15px;
}
#gameboard span:nth-child(26) > input{
  margin-bottom: 15px;
}
#gameboard span:nth-child(27) > input{
  margin-bottom: 15px;
}
#gameboard span:nth-child(27) > input{
  margin-bottom: 15px;
}
#gameboard span:nth-child(55) > input{
  margin-top: 15px;
}
#gameboard span:nth-child(56) > input{
  margin-top: 15px;
}
#gameboard span:nth-child(57) > input{
  margin-top: 15px;
}
#gameboard span:nth-child(58) > input{
  margin-top: 15px;
}
#gameboard span:nth-child(59) > input{
  margin-top: 15px;
}
#gameboard span:nth-child(60) > input{
  margin-top: 15px;
}
#gameboard span:nth-child(61) > input{
  margin-top: 15px;
}
#gameboard span:nth-child(62) > input{
  margin-top: 15px;
}
#gameboard span:nth-child(63) > input{
  margin-top: 15px;
}

/*#gameboard span:nth-child(9n+9) > input{
}*/

/*Chat CSS*/
.navBtn{
  width: 50%;
  margin: 0 auto;
}

/*Chat CSS*/
.chat-window{
  width: 400px;
}
.chat-window .chat-list{
  list-style: none;
  height: 200px;
  overflow: hidden;
  overflow-y: scroll;
  padding-bottom: 30px;
}
.chat-window .chat-list li{
  list-style: none;
}
.chat-window .chat-list li:nth-child(even){
  background: #DDDDDD;
}